{%- extends "base.html" -%}

{% block content %}
<h1>{{ objeto.numero }}</h1>

<div id="warnhorarios">
    <p>O hor&aacute;rio apresentado no hist&oacute;rico do objeto n&atilde;o indica quando a situa&ccedil;&atilde;o ocorreu, mas sim quando os dados foram recebidos pelo sistema, exceto no caso do SEDEX 10 e do SEDEX Hoje, em que ele representa o hor&aacute;rio real da entrega.</p>
</div>

<div>
    <table class="listEvent sro">
        {% for evento in objeto.evento -%}
        <tr>
            <td class="sroDtEvent" valign="top">
                {{ evento.data }}<br /> 
                {{ evento.hora }}<br />
                {{ evento.cidade }} / {{ evento.uf }}<br />
            </td>
            <td class="sroLbEvent">
                <strong>{{ evento.descricao }}</strong> 
                <br />
                {% if evento.destino -%}
                de {{ evento.local }} em {{ evento.cidade }} / {{ evento.uf }}
                para {{ evento.destino[0].local }} em {{ evento.destino[0].cidade }} / {{ evento.destino[0].uf }}
                {% else -%}
                {% endif -%}
            </td>
        </tr>
        {% endfor -%}
    </table>
</div>
{% endblock %}
